# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Archivos de diseño (no se suben al repo)
_design-source/
